<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611030025446-67a93cm7foq2blrbn9ppk0hi3c400j21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611030025446-67a93cm7foq2blrbn9ppk0hi3c400j21</string>
	<key>API_KEY</key>
	<string>AIzaSyBoK5m5vSJTKkquFu3GlQoihP5PS2yoXKA</string>
	<key>GCM_SENDER_ID</key>
	<string>611030025446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.ecodex</string>
	<key>PROJECT_ID</key>
	<string>ecodex-32248</string>
	<key>STORAGE_BUCKET</key>
	<string>ecodex-32248.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611030025446:ios:dc3af59b7036561362a727</string>
</dict>
</plist>